#include <iostream>
using namespace std;
int main() {
  int purchasequantity ;
  cout<<"puchased price\n";
  cin>>purchasequantity;

  if(purchasequantity>1000){
    auto z=purchasequantity-((purchasequantity*10)/100);
cout<<"total price you have to pay:"<<z<<endl;
  }
else{
  cout<<"total amount you have to pay:"<<purchasequantity;
}
return 0;

}
